@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.App {
  color: white;
  background-color: #0E1117;
  min-height: 100vh;
  font-family: 'Roboto Mono', monospace;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.primary-button {
background-color: #23C6F4;

}

.loading-icon {
  color: #23C6F4;
  font-size: 8rem;
  animation: animate 2s infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
